@charset "utf-8";


.header {
  border-bottom: 1px solid $borderColor;
  
  .wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .channel {
    width: 40px;
    text-align: center;
  }
  .title {
    font-size: 13px;
    color: $c3;
    line-height: 30px;

    &:hover {
      color: $hoverColor;
      font-size: 15px;
    }

    &:active {
      color: $activeColor;
    }
  }
  .active {
    color: $activeColor;
    font-size: 14px;
  }
}
